.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  }
  
  .login-card {
  width: 90%;
  max-width: 400px;
  }
  
  .login-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
  text-align: center;
  }
  
  .youtube-search {
  margin-bottom: 16px;
  }
  
  .video-results {
  margin-top: 16px;
  }
  
  .home-image {
  width: 100%;
  max-width: 600px;
  margin-top: 16px;
  }
  .animated-content {
    animation-name: slideIn;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }
  
  @keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
