<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="header-title">Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="animated-content ion-text-center">
  <ion-card class="home-card">
    <ion-card-content>
      <h1 class="welcome-title">¡Bienvenido a MagicalHatsApp!</h1>
        <p class="welcome-message">Gracias por usar nuestra aplicación, te invito a revisar nuestros productos.</p>
        <ion-img src="assets/home.jpeg"></ion-img>
        <h2 class="contact-info">Si necesitas ayuda, contáctanos a contacto@magicalhats.cl</h2> 
    </ion-card-content>
  </ion-card>
</ion-content>