 <ion-header [translucent]="true">
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title class="header-title">Registrar usuario</ion-title>
    </ion-toolbar>
  </ion-header>

  
  <ion-content class="animated-content ion-text-center">
    <ion-card class="login-card">
      <ion-card-content>
        <ion-label>
          <h1 class="login-title">Registrar usuario</h1>
        </ion-label>
        <ion-item>
          <ion-label position="floating">Ingresa tu e-mail</ion-label>
          <ion-input type="text" [(ngModel)]="mail"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" [(ngModel)]="contrasena" ></ion-input>
        </ion-item>
        <ion-button shape="block" (click)="insertar()">Registrar</ion-button>
      </ion-card-content>
    </ion-card>
  </ion-content>

